body {
    padding-top: 50px;
    background: url(../img/Back.jpg);
    background-size: cover;
  }
  h1 {
    color: #009688
  }
  p1{
    color: #ffab91
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }
  
  .login-box{
    width: 420px;
    height: 450px;
    background: wheat;
    color: #58565D;
    top: 20%;
    left: 37%;
    position: fixed;
    padding: 40px 30px;
  }
  
  #center{
    text-align: center;
    position: absolute;
    left: 40%;
  }
  
  #instructions{
    padding: 2px 12px;
    margin: 2px;
    position: relative;
    left: 10%;
  }
  